/**************************
Author: Ngô Phú Nguyên
Company: JAPANA
Date: 19/2/2019
Update:18/6/2019
**************************/
.clear{
  clear: both;
}

.nopadding{
  padding: 0!important;
}
.show{
	display: block!important;
}
.show-inline{
	display: inline-block!important;
}
.nopadding-top{
	padding-top: 0!important;
}
.nopadding-bottom{
	padding-bottom: 0!important;
}
.nomargin{
  margin: 0!important;
}
.bold{
  font-weight: 500!important;
}
.normal{
	font-weight: 400!important;
}
.hidden{
	display: none;
}
.visible{
	visibility: visible;
}

.visible-hidden{
	visibility: hidden;
}

a, a:hover {
  text-decoration: none;
  cursor: pointer;
}

body{
  margin: 0;
  padding: 0;
}

body, html{
	font-family: 'Roboto',sans-serif;
  	font-weight: 300;
  	height: 100%;
}

.bg-black{
	background: #222D32!important;
}
.bg-gray{
	background: #eee!important;
}
.center-custom{
	text-align: center!important;
}
.right-custom{
	text-align: right!important;
}
.left-custom{
	text-align: left!important;
}
.custom-fright{
	float: right!important;
}
.custom-fleft{
	float: left!important;
}
.checkbox-custom {
	position: relative;
    padding-left: 35px;
    font-size: 14px;
    font-weight: 300;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: block;
    height: 20px;
    display: flex;
    align-items: center;
}

.checkbox-custom input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}
.checkmark {
	position: absolute;
	top: 0;
	left: 0;
	height: 20px;
	width: 20px;
	border-radius: 4px;
	border: 1px solid rgba(34, 45, 50, 0.5);
	background: #fff;
}
.checkbox-custom input:checked ~ .checkmark {
  	background-color: #222D32;
}

.checkmark:after {
	content: "";
	position: absolute;
	display: none;
}
.checkbox-custom input:checked ~ .checkmark:after {
  	display: block;
}

.checkbox-custom .checkmark:after {
	left: 6px;
    top: 2px;
    width: 6px;
    height: 11px;
    border: solid white;
    border-width: 0 2px 2px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

.button{
	border-radius: 4px;
    color: #fff;
    border: 0;
    height: 38px;
    width: 100px;
    font-weight: 300;
}

.button:hover{
	background: #333;
}

.form-control{
	font-size: 14px;
	height: 38px;
}

.form-control:focus{
    border-color: #ccc;
    -webkit-box-shadow: none;
            box-shadow: none;
}

.content-sidebar-wrap{
	width: 94%;
	float: right;
	display: inline-block;
}

.content{
	margin-bottom: 70px;
}
.entry-header{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	padding: 8px 20px;
	border-bottom: 2px solid #f1f1f1;
	height: 48px;
	position: fixed;
    left: 6%;
    right: 0;
    background: #fff;
    z-index: 999;
}
.entry-header .entry-title{
	margin-bottom: 0;
	font-size: 18px;
}

.entry-content{
	margin-top: 48px;
	display: inline-block;
    width: 100%;
}

.ipt-date{
	padding-right: 30px;
}
/*****************Collapse*******************/
.dropdown-collapse{
	color: #fff;
	font-size: 14px;
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	width: 100%;
	border: 1px solid #222D32;
	border-radius: 4px;
	height: 38px;
	position: relative;
	padding: 0 15px;
}
.dropdown-collapse:hover{
	color: #fff;
}
.dropdown-collapse.active{
	background-color: #fff;
	color: #222D32;
}
/*****************./Collapse*******************/
/*****************Dropdown*******************/
.custom-dropdown{
	display: block;
	position: relative;
}
select{
	-webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.custom-dropdown:after {
    content:"\f0d7";
    font-family: FontAwesome;
    color: #888;
    padding: 12px 0;
    position: absolute; 
    right: 0; 
    top: 50%;
    -webkit-transform: translate(0,-50%);
        -ms-transform: translate(0,-50%);
            transform: translate(0,-50%);
    z-index: 0;
    text-align: center;
    width: 10%;
    height: 100%;      
    pointer-events: none;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;   
}
/*****************./Dropdown*******************/
/*****************Select search*******************/
.select2-container--default .select2-selection--single .select2-selection__arrow b {
    border-width: 5px 5px 0 4px;
    margin-left: -5px;
}
.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b{
	border-width: 0 5px 5px 4px;
}
.select2-container{
	width: 100%!important
}
.select2-container--default .select2-selection--single .select2-selection__rendered{
	line-height: 38px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow, .select2-container .select2-selection--single{
	height: 38px;
}
.select2-container--default .select2-selection--single{
	border: 1px solid #ced4da;
}
/*****************./Select search******************/
/*************Modal**************/
.modal {
  	text-align: center;
  	padding: 0!important;
}

.modal:before {
  	content: '';
  	display: inline-block;
  	height: 100%;
  	vertical-align: middle;
  	margin-right: -4px;
}

.modal-dialog {
  	display: inline-block;
  	text-align: left;
  	vertical-align: middle;
}

.custom-modal{
	position: relative;
}

.custom-modal .close-modal{
	position: absolute;
	top: 0;
	right: 0;
}

.danger-modal .modal-content{
	background-color: #c23321;
}

.custom-modal .close-modal{
	position: absolute;
    top: -7px;
    right: -6px;
    background: #fff;
    border-radius: 100%;
    font-size: 7px;
    padding: 5px;
    z-index: 999;
}

.custom-modal .close-modal:hover{
	cursor: pointer;
}

.success-modal .modal-content{
	background-color: #00733e;
}

.warning-modal .modal-content{
	background-color: #f39c12;
}

.danger-modal .modal-content p, .success-modal .modal-content p, .warning-modal .modal-content p{
	color: #fff;
	line-height: 1.5;
}
.modal-header{
	padding: 0;
}
.modal-header div{
	margin: 0;
}
.modal-header .dropdown-collapse{
	border-radius: 0;
}
.small-modal .modal-dialog{
	width: 500px;
	max-width: 1200px;
}
.medium-modal .modal-dialog{
	width: 800px;
	max-width: 1200px;
}
.large-modal .modal-dialog{
	width: 1000px;
	max-width: 1200px;
}
.super-large-modal .modal-dialog{
	width: 1200px;
	max-width: 1200px;
}
.table td, .table th{
	border: 0;
}
.table-custom{
  	margin: 0;
  	overflow: hidden;
   	margin-top: 15px;
   	display: inline-table;
   	position: relative;
}
.table-custom > thead > tr > th {
	vertical-align: middle;
	color: #fff;
	border-bottom: none;
	padding: 0 14px;
	height: 40px;
	font-size: 14px;
	font-weight: 400;
}
.table-custom > tbody > tr > td {
	vertical-align: middle;
	padding: 0 14px;
	height: 40px;
	color: #ccc;
	font-size: 14px;
	color: #000;
	line-height: 1.5;
}
.table-custom > tbody > tr > td a {
  	text-decoration: none;
}
.table-order > tbody > tr:nth-child(-n + 3) > td:first-child {
	position: relative;
	font-size: 10px;
	font-weight: 700;
}
.table-order > tbody > tr:nth-child(-n + 3) > td:first-child span {
	position: absolute;
	left: 0;
	right: 0;
	margin: auto;
	top: 14px;
}

/*************./Modal**************/
/*************Color-all**************/
.red-custom{
	color: #ff0000!important;
}
.yellow-custom{
	color: #E8960F!important;
}
.black-custom{
	color: #000!important;
}
.green-custom{
	color: green!important;
}
.orange-custom{
	color: orange!important;
}
.blue-custom{
	color: #4267b2!important;
}
.gray-custom{
	color: #333!important;
}
.white-custom{
	color: #fff!important;
}
/*************./Color-all**************/
/*************Radio-custom**************/
.radio-custom{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    position: relative;
	cursor: pointer;
	font-size: 14px;
	height: 15px;
	color: #333333;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	padding-left: 25px;
}

.radio-custom input {
	position: absolute;
	opacity: 0;
}

.radio-custom .checkmark {
	position: absolute;
	top: 0;
	left: 0;
	height: 15px;
	width: 15px;
	background-color: #fff;
	border: 1px solid;
	border-radius: 100%;
}

.radio-custom:hover input ~ .checkmark {
  background-color: #fff;
}

.radio-custom input:checked ~ .checkmark {
  	background-color: #fff;
}

.radio-custom .checkmark:after {
	content: "";
	position: absolute;
	display: none;
}

.radio-custom input:checked ~ .checkmark:after {
    display: block;
}

.radio-custom .checkmark:after {
  	top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 2px solid #fff;
    border-radius: 100%;
    background: #222D32;
}
/*************./Radio-custom**************/
.custom-upload{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border-radius: 0 4px 4px 0;
}
.custom-upload input[type='file']{
	display: none;
}
.delete-img{
	display: none;
}
.entry-header ul li{
	float: left;
}
.entry-header ul li{
	margin-left: 5px;
}
.button-header{
	background-color: transparent;
	font-weight: 500;
	width: auto;
	padding: 0 15px;
}
.button-header:hover{
	background-color: transparent;
	color: #4267b2;
}
.link-custom{
	height: 38px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: baseline;
	    -ms-flex-align: baseline;
	        align-items: baseline;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	padding: 11px 15px;
	font-weight: 500;
}
.link-custom i{
	font-size: 14px;
	margin-right: 4px;
}

/****************Checkbox-ios*****************/
.ios-checkbox-wrap{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}
.ios-ui-select{
	height: 18px;
	width: 35px;
}
.ios-ui-select .inner{
	width: 12px;
	height: 12px;
}
.ios-ui-select.checked .inner{
	left: 20px;
}
/****************./Checkbox-ios*****************/
.box-ckeditor{
	display: inline-block;
	width: 100%;
	padding: 15px;
}

/************************Tags*************************/
ul.tagit{
	min-height: 38px;
}
ul.tagit li{
	margin: 3px 5px 2px 0;
}
ul.tagit li.tagit-choice-editable{
	padding: .4em 18px .4em .5em;
}
/************************./Tags*************************/
.tab-custom {
    display: none;
}
@media (max-width: 575.98px) {
	.content{
		margin-bottom: 0;
	}
  	.entry-header{
  		left: 0;
  		-webkit-box-pack: center;
  		    -ms-flex-pack: center;
  		        justify-content: center;
  	}
  	.entry-header ul{
  		display: -webkit-box;
  		display: -ms-flexbox;
  		display: flex;
  		-webkit-box-align: center;
  		    -ms-flex-align: center;
  		        align-items: center;
  		-webkit-box-pack: justify;
  		    -ms-flex-pack: justify;
  		        justify-content: space-between;
  		position: fixed;
  		left: 0;
  		right: 0;
  		top: 48px;
  		background: #fff;
  		height: 44px;
  	}
  	.entry-header ul li:last-of-type{
  		display: none;
  	}
  	.entry-header ul li{
  		margin-left: 0;	
  	}
  	.entry-header ul li button{
  		height: 44px;
  	}
  	.link-custom{
  		display: -ms-grid;
  		display: grid;
	    text-align: center;
	    padding: 5px;
		height: 38px;
  	}
  	.link-custom i{
  		font-size: 14px;
		width: 100%;
		margin-right: 0;
		margin-bottom: 5px;
  	}
  	.button-header{
  		padding: 0;
  	}
  	.button-header i{
  		display: inline-block;
  		margin-bottom: 5px;
  		width: 100%;
  	}
  	.entry-header .entry-title{
  		font-size: 16px;
  		color: rgba(0,0,0,0.8);
  	}
	.show-inline{
		display: block!important;
	}
  	.tab-custom{
  		display: -webkit-box;
	    display: -ms-flexbox;
	    display: flex;
	    -webkit-box-align: center;
	    -ms-flex-align: center;
	    align-items: center;
	    -webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	    justify-content: space-between;
	    width: 100%;
	    height: 45px;
	    z-index: 99;
  	}
  	.tab-custom .item {
	    height: 100%;
	    display: -webkit-box;
	    display: -ms-flexbox;
	    display: flex;
	    float: left;
	    text-align: center;
	    -webkit-box-align: center;
	    -ms-flex-align: center;
	    align-items: center;
	}
	.tab-custom .item:last-child{
		border-right: 0;
	}
	.tab-custom .item a{
	    display: inline-block;
	    width: 100%;
	    color: #fff;
	    line-height: 1.5;
	}
	.tab-custom .item a i{
		display: inline-block;
		width: 100%;
	}
	.tab-custom .item.active{
		background-color: #fff!important;
	}
	.tab-custom .item.active a{
		color: #222D32;
	}
  	.content-sidebar-wrap{
  		width: 100%;
  	}
  	.daterangepicker .drp-calendar{
		max-width: 100%;
		width: 100%;
	}
	.table-striped tbody tr:nth-of-type(odd){
  		background-color: unset;
  	}
	.table-responsive,
	.table-responsive thead,
	.table-responsive tbody,
	.table-responsive th,
	.table-responsive td,
	.table-responsive tr {
		display: block;
	}
	.table-responsive > thead > tr {
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	.table-responsive > tbody > tr {
		border: 1px solid #ccc;
		margin-bottom: 15px;
	}
	.table-responsive > tbody > tr:last-child {
		border-radius: 0 0 3px 3px;
		border-bottom: none;
	}
	.table-responsive > tbody > tr td {
		border: none;
		position: relative;
		padding-left: 40% !important;
		width: 100%;
		overflow: hidden;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
	    -webkit-box-align: center;
	        -ms-flex-align: center;
	            align-items: center;
	    -webkit-box-pack: justify;
	        -ms-flex-pack: justify;
	            justify-content: space-between;
	}
	.table-responsive > tbody > tr td:nth-child(odd){
		background-color: rgba(0,0,0,.05);
	}
	.table-responsive > tbody > tr td:before {
		content: attr(data-title);
		position: absolute;
		left: 14px;
		width: 30%;
		white-space: nowrap;
		text-align: right;
		font-size: 14px;
		font-weight: 500;
	}
	.table-responsive > tbody > tr td:first-child {
		text-align: left;
	}
	.table-responsive.table-order > tbody > tr:nth-child(-n + 3) > td:first-child {
		padding: 25px 0 25px 30% !important;
		background-position: left 32% center;
	}
	.table-responsive.table-order > tbody > tr:nth-child(-n + 3) > td:first-child span {
		left: 32%;
	}
	.table-custom > tbody > tr > td:last-child{
		-ms-flex-pack: distribute;
		    justify-content: space-around;
	}
	.table-custom > tbody > tr > td:last-child a{
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
	}
	.large-modal .modal-dialog, 
	.medium-modal .modal-dialog, 
	.small-modal .modal-dialog, 
	.super-large-modal .modal-dialog{
		max-width: 100%;
		width: 100%;
		margin: 0;
	}
	.modal-header .dropdown-collapse{
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
	}
}
@media (min-width: 576px) and (max-width: 767.98px) {
  	.site-header{
  		display: none;
  	}
  	.table-striped tbody tr:nth-of-type(odd){
  		background-color: unset;
  	}
	.large-modal .modal-dialog, 
	.medium-modal .modal-dialog, 
	.small-modal .modal-dialog, 
	.super-large-modal .modal-dialog{
		max-width: 100%;
		width: 100%;
		margin: 0;
	}
	.entry-content{
		margin-top: 105px;
	}
}

@media (min-width: 768px) and (max-width: 991.98px) {
  	.site-header{
  		display: none;
  	}
  	.large-modal .modal-dialog, 
  	.medium-modal .modal-dialog, 
  	.small-modal .modal-dialog, 
  	.super-large-modal .modal-dialog{
		max-width: 100%;
		width: 100%;
		margin: 0;
	}
}
@media (min-width: 992px) and (max-width: 1199.98px) {
  	
}

@media (min-width: 1200px) {

}